<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>
  <style>
    header {
      padding-top: -30px;
      margin-bottom: 20px;
      background-color: #0c4680;
    }
    #footer{
      margin-top:380px;
    }
    #content h1{
      font-size: 38px;
      color:crimson;
      margin-left:100px;
    }
    #content h1{
    font-family: "Yrsa", sans-serif;
    }
    #content h2{
      margin-left:100px;
    }
    #content div{
      margin-top:40px;
    }
    #content div h1{
      font-size:28px;
      color: black;
      font-family: "Yrsa", sans-serif;
    }
    #content div p{
      font-size:24px;
      color: black;
      font-family: "Yrsa", sans-serif;
      margin-left:100px;
      margin-bottom:10px;
    } 
    #nav h1:nth-child(1) {
      border: none;
    }
    #aside-nav h1:nth-child(3) {
      border-bottom: solid #0c4680;
    }
    #nav h1:nth-child(3){
      border-bottom:solid crimson;
    }
    header {
      padding-bottom: 15px;
    }
    #content h2 {
      color: black;
      border-left: solid crimson;
      padding-left: 20px;
      font-family: "Yrsa", sans-serif;
    }
    form {
      margin-top: 10px;
      position: absolute;
      margin-left: 100px;
      float: left;
    }
    form input:nth-child(1) {
      width: 400px;
    }
    .read {
      color: crimson;
      font-family: "Yrsa", sans-serif;
      font-size: 20px;
      font-weight: 600;
    }
    label{
      font-family: "Yrsa";
      font-size: 20px;
      font-weight: bold;
      color:rgb(181, 181, 181);
    }
    form{
      margin-top:100px;
    }
    .addIdea{
      border:none;
      border-bottom:solid crimson;
      width:325px;
    }
    #auth {
      color: black;
      opacity: 80%;
      font-size: 20px;
      margin-top: -100px;
      margin-left: 100px;
      position: absolute;
    }
  </style>
  <title>Convo</title>
  <body>
    <div id="header"><%-include("./partials/header.ejs") %></div>
    <div id="content">
      <% data.forEach(convo => { %>
      <h1><%= convo.title%></h1>
      <h2><%= convo.content %></h2>
       <div> 
          <% for(i=0;i<convo.contribution.length;i++){%>
            <h1><%=convo.contribution[i].author%></h1>
            <p><%=convo.contribution[i].idea%></p>
          <%}%>
      </div>
    </div>
      <form action="addContribution" method="POST">
        <label>Add a contribution to this conversation</label><br>
         <input style="display: none;" type="text" name="id" value="<%= convo._id %>">

         <input type="text" class="addIdea" name="contribauthor" placeholder="Enter your name"><br>
         <textarea
         name="idea"
         class="addIdea"
         placeholder="Enter your contribution / idea"
       ></textarea><br><br>
         <input type="submit" value="Contribute">
      </form>
      <%})%>
    <div id="footer"><%-include("./partials/footer.ejs")%></div>
  </body>
</html>
