<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <style>
    header {
      padding-top: -30px;
      margin-bottom: 20px;
      background-color: #0c4680;
      padding-bottom: 15px;
    }
    .nav h1:nth-child(1) {
      border: none;
    }
    .nav h1:nth-child(2) {
      border-bottom: solid crimson;
    }
    #aside-nav h1:nth-child(2) {
      border-bottom: solid #0c4680;
    }
    footer {
      margin-top: 400px;
    }
    h2 {
      color: black;
      border-left: solid crimson;
      padding-left: 20px;
      font-family: "Yrsa", sans-serif;
    }
    form {
      margin-top: 10px;
      position: absolute;
      margin-left: 100px;
      float: left;
    }
    form input:nth-child(1) {
      width: 400px;
    }
    .read {
      color: crimson;
      font-family: "Yrsa", sans-serif;
      font-size: 20px;
      font-weight: 600;
    }
  </style>
  <body>
    <%- include("./partials/header.ejs")%>
    <a href="newSermon"><button id="newsBtn">NEW SERMON</button></a>
    <form class="searchField" action="searchSermon" method="POST">
      <input type="text" name="title" placeholder="Search sermon by title" />
      <input id="search" class="submit" type="submit" value="Search" />
    </form>
    <section id="sermons">
      <% data.forEach(sermon => {%>
      <a class="read" href="/sermon/<%=sermon._id%>">
        <h1><%=sermon.title %></h1>
        <h2><%= sermon.snippet %></h2>
        Read
      </a>
      <% }) %>
    </section>

    <%-include("./partials/footer.ejs")%>
  </body>
</html>
